---
import PostLayout from '@/layouts/PostLayout.astro'
import { Section, PageHeader } from '@/components'
import { BlogGallery } from '@/components/BlogGallery'
import { Post } from '@/components/types/Post'

const posts = await Astro.glob<Post>('../../posts/*.md')

const title = 'blog'
const description = 'Apasionado de las tecnologías web, el desarrollo y la seguridad informática. Entusiasta de HTML, CSS, JavaScript, Node. Comparto mi aprendizaje y conocimiento a traves de mi blog en el cual publico artículos sobre desarrollo web y mi día a día tecnológico.'
---

<PostLayout content={{ title: 'asass' , description: 'saaaa' }}>
  <Section>
    <PageHeader title={title} description={description} />
  </Section>
  <Section>
    <BlogGallery postList={posts} />
  </Section>
</PostLayout>