---
// Type Imports
import { Post } from '../../components/types/Post'
// Layout Import
import PageLayout from '@/layouts/PageLayout.astro'

// Partials Imports
import { PageHeader } from '@/partials/PageHeader'
import { PostsList } from '@/partials/PostsList'
import { Sidebar } from '@/partials/Sidebar'
import { PageFooter } from '@/partials/PageFooter'

// Utils Imports
import { getUniqueTags } from '@/utils/GetUniqueTags'

// Styles Imports
import '@/styles.css'

const posts = await Astro.glob<Post>('../../posts/*.mdx')

const tags = getUniqueTags(posts.map((e) => e.frontmatter.tags))
const title = 'Bienvenidos a mi blog 👋'
const description =
  'En este blog, compartiré mis conocimientos y experiencias en el campo del desarrollo web. Desde el front-end hasta el back-end, desde las tecnologías básicas como HTML, CSS y JavaScript, hasta las últimas tendencias y herramientas como React, Node.js, y mucho más. Mi objetivo es proporcionarte información valiosa y aplicable que puedas utilizar en tus propios proyectos.'
---

<PageLayout content={{ title: 'Blog | robertoserrano.dev', description: 'saaaa' }}>
  <PageHeader title={title} description={description} />
  <section class='md:grid md:grid-cols-3 gap-8'>
    <div class='col-span-2'>
      <div class="md:grid md:grid-cols-2 gap-6">
        <PostsList posts={posts} />
      </div>
    </div>
    <aside>
      <Sidebar tags={tags} />
    </aside>
  </section>
  <PageFooter />
</PageLayout>
