---
import '../styles.css'
import { Footer } from '@/partials/Footer'
import BaseHead from '@/layouts/BaseHead.astro'

import { Navbar } from '@/partials/Navbar'
import { Hero } from '@/partials/Hero'
import { About } from '@/partials/About'
import { Skills } from '@/partials/Skills'
import { Portfolio } from '@/partials/Portfolio'
import { LastPosts } from '@/partials/LastPosts'

import { AppConfig } from '@/utils/AppConfig'
import { Post } from '@/components/types/Post'
import { Contact } from '@/partials/Contact'

const posts = await Astro.glob<Post>('../posts/*.mdx')

const { title } = AppConfig
const { description } = AppConfig
---

<html lang='es'>
  <head>
    <BaseHead head={{ title, description }} />
  </head>

  <body class='bg-main text-slate-300 font-lato'>
    <Navbar scroll client:load />
    <main>
      <Hero />
      <About />
      <Skills client:load />
      <Portfolio client:load />
      <LastPosts postList={posts} />
      <Contact />
    </main>
    <Footer />
  </body>
</html>
